Source: toollabs
Section: utils
Priority: extra
Maintainer: Marc-André Pelletier <mpelletier@wikimedia.org>
Uploaders: Carl Fürstenberg <azatoth@gmail.com>,
 Petr Bena <benapetr@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf, libipc-run-perl, libstring-shellquote-perl
Standards-Version: 3.9.5
Vcs-Git: https://gerrit.wikimedia.org/r/labs/toollabs
Vcs-Browser: https://git.wikimedia.org/summary/labs%2Ftoollabs

Package: misctools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Miscellaneous Labs-specific tools
 Miscellaneous Labs-specific Tools used on Tool Labs

Package: jobutils
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, gridengine-client, libipc-run-perl, libstring-shellquote-perl
Description: Set of utilities to use on wikimedia bots and tools cluster
 This package will install jstart (jsub) and jstop, the Tool Labs (more)
 user-friendly wrappers to submit jobs to the gridengine

