#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
# Disable dbgsym package generation
# https://lists.debian.org/debian-devel/2015/12/msg00262.html
export DEB_BUILD_OPTIONS=noddebs


%:
	dh -l
	dh $@ --with bash-completion,python3

override_dh_auto_clean:
	dh_auto_clean --buildsystem=pybuild

# Make take setuid.
override_dh_fixperms:
	dh_fixperms
	chmod u+s debian/misctools/usr/bin/take

# jsub default to write to the user home directory mentionned in the password
# database which fails when building with pbuilder 0.220+ since the user
# intentionally has no home directory.
override_dh_auto_test:
	mkdir -p $(CURDIR)/fake-home
	HOME=$(CURDIR)/fake-home dh_auto_test
	rm -rf $(CURDIR)/fake-home
